<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% if description %}
    <meta name="description" content="{{description}}" />
    {% endif %} {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script
      defer
      src="https://stats.izveide.lv/script.js"
      data-website-id="e4d4ae87-dc5e-4f3b-99d6-fb5c690ce93b"
    ></script>
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon.svg" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />

    <!-- Primary Meta Tags -->
    <title>Mentālā veselība</title>
    <meta name="title" content="Mentālā veselība" />
    <meta
      name="description"
      content="Šī vietne sniedz ieskatu dažādos garīga rakstura traucējumos vieglā valodā."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mentalaveseliba.lv/" />
    <meta property="og:title" content="Mentālā veselība" />
    <meta
      property="og:description"
      content="Šī vietne sniedz ieskatu dažādos garīga rakstura traucējumos vieglā valodā."
    />
    <meta
      property="og:image"
      content="https://mentalaveseliba.lv/static/img/og.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://mentalaveseliba.lv/" />
    <meta property="twitter:title" content="Mentālā veselība" />
    <meta
      property="twitter:description"
      content="Šī vietne sniedz ieskatu dažādos garīga rakstura traucējumos vieglā valodā."
    />
    <meta
      property="twitter:image"
      content="https://mentalaveseliba.lv/static/img/og.png"
    />
  </head>
  <body>
    {% include "./partials/navbar.html" %} {{ content | safe }} {% include
    "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}
  </body>
</html>
