---
layout: default
---

<div class="container max-w-4xl mt-6 px-6">
  <div class="pb-5 mb-5 ">
    <h1 class="font-bold text-5xl mb-7">{{title}}</h1>
    <p class="text-center leading-9 font-medium text-xl">{{description}}</p>
  </div>

  <div class="border shadow-2xl p-5 rounded-2xl mb-10">
    <h2 class="text-4xl font-bold mb-4 uppercase">❌ Kas nav {{name}}?</h2>
    {% for item in what_is_not %}
    <div class="leading-9 text-lg mt-3">
      <strong class="font-bold text-xl">{{item.title}}</strong> <p>{{item.description}}</p>
    </div>
    {% endfor %}
  </div>

  <div class="border shadow-2xl p-5 rounded-2xl mb-12">
    <h2 class="text-4xl font-bold mb-4 uppercase">✅ Kas ir {{name}}?</h2>
    {% for item in what_is %}
    <div class="leading-9 text-lg mt-3">
      <strong class="font-bold text-xl">{{item.title}}</strong> <p>{{item.description}}</p> 
    </div>
    {% endfor %}
  </div>


{% if states %}
  <div class="mb-10">
    <h2 class="text-4xl font-bold">Stāvokļi</h2>
    {% for item in states %}
    <div class="leading-9 text-lg mt-3">
      <strong class="font-bold text-xl">{{item.title}}</strong> <p>{{item.description}}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if behaviors %}
  <div class="mb-10">
    <h2 class="text-4xl font-bold">Uzvedība</h2>
    {% for item in behaviors %}
    <div class="leading-9 text-lg mt-3">
      <strong class="font-bold text-xl">{{item.title}}</strong> <p>{{item.description}}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if types %}  
  <div class="mb-10">
    <h2 class="text-4xl font-bold">Tipi</h2>
    {% for item in types %}
    <div class="leading-9 text-lg mt-3">
      <strong class="font-bold text-xl">{{item.title}}</strong><p>{{item.description}}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if symptoms %}  
  <div class="mb-10">
    <h2 class="text-4xl font-bold">Simptomi</h2>
    {% for item in symptoms %}
    <div class="leading-9 text-lg mt-3">
      <strong class="font-bold text-xl">{{item.title}}</strong><p>{{item.description}}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}

{% if content %}
<h2 class="text-4xl font-bold">Papildus informācija</h2>
    <article class="my-4 mx-auto underline">
      {{ content | safe }}
    </article>
    {% endif %}

    <a href="/" class="text-center mt-10 block text-2xl font-medium">🔙 Atgriezties uz sākumu</a>
  </div>

  
</div>
