<footer class="mt-6 text-center w-full py-4">
  <small class="text-gray-500"
    >Lapu veido un uztur SIA "<a
      href="{{settings.url}}"
      target="_blank"
      class="underline"
      >{{settings.author}}</a
    >"
    <br />
    Pamanīji kļūdu? Raksti uz
    <a href="mailto:mentalaveseliba@labojam.lv" class="underline"
      >mentalaveseliba@labojam.lv</a
    >
    <br />
    Informācija iegūta no
    <a href="https://neurodiversity.wiki" target="_blank" class="underline"
      >neurodiversity.wiki</a
    >
  </small>
</footer>
